* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

section {
  padding: 3em;
}

h1, h6 {
  text-align: center;
}

input {
  color: transparent !important;
  border: white;
}

body {
  color: white; 
}

#form {
  background-color: blueviolet;
}

#options {
  background-color: black;
}